application-schema/geoiacs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
geoIACS Data Model v2.0 - Changelog v1.0 to v2.0
================================================================================
* ADDED: `AgriculturalArea` (AA) feature type to explicitly map CAP agricultural areas.
* RENAMED: `NonAgriculturalEligibleArea` replaced by `OtherEligibleArea` (OEA).
* MODIFIED `AgriculturalParcel` (AP): 
  - Replaced `organicFarming` (boolean) with `organicStatus` (codelist).
  - Removed `agriculturalAreaType` (concept moved to AA).
  - Added boolean flags for regulatory constraints/management commitments (`isANC`, `isN2000`, `isRBM`, `isASD`).
* MODIFIED `OtherEligibleArea` (OEA):
  - Added boolean flags for regulatory constraints/management commitments (`isANC`, `isN2000`, `isRBM`, `isASD`).
  - Added `isFormerAANowSetAside` boolean flag.
* MODIFIED `FarmAnimalSpecies`: Changed `numberOfAnimals` from integer to a codelist reference (`AnimalRangeValue`).
* MODIFIED `EcoLandscapeElement` (ELE): Shortened attribute names (`ELEType`, `ELEDesignation`) and changed `relatedRP` multiplicity from 1 to 1..*.
* MODIFIED `ReferenceParcel` (RP): Updated associations (removed `relatedNAEA`, added `relatedAA` and `relatedOEA`).
================================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://github.com/geoIACS" xmlns:geoiacs="https://github.com/geoIACS" version="2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr">
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<element name="AgriculturalParcel" type="geoiacs:AgriculturalParcelType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>--Name--
Agricultural parcel

-- Definition --
According to Article 65(4)(d) of R (EU) 2021/2116, Agricultural parcel means a unit, defined by Member States, of agricultural area as determined in accordance with Article 4(3) of R (EU) 2021/2115.

-- Description --
Agricultural parcel declared by farmer.

NOTE: A series of boolean attributes (isANC, isN2000, isRBM, is ASD) indicate if an Agriultural Parcel is eligible also for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to natural or other area-specific constraints (art. 71) or related to area-specific disadvantages (art. 72).</documentation>
		</annotation>
	</element>
	<complexType name="AgriculturalParcelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relatedRP" type="geoiacs:ReferenceParcelPropertyType">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedAP</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="APid" type="string">
						<annotation>
							<documentation>--Name--
Agricultural parcel ID

-- Definition --
Unique ID of agricultural parcel.

-- Description --
European unique alphanumerical identification code of agricultural parcel. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>--Name--
Geometry

-- Definition --
Spatial representation of agricultural parcel</documentation>
						</annotation>
					</element>
					<element name="holdingId" type="string">
						<annotation>
							<documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</documentation>
						</annotation>
					</element>
					<element name="declaredArea" type="gml:AreaType">
						<annotation>
							<documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </documentation>
						</annotation>
					</element>
					<element name="mainCrop" type="gml:ReferenceType">
						<annotation>
							<documentation>--Name--
mainCrop

--Definition--
Main crop grown within the campaign year (growing season).

--Description--
Crop occupying the parcel in most of the time of the growing season. It also includes fallow land.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>CropValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="localisedMainCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Localised mainCrop

--Definition--
Main crop not present in EU crop codelists and present in codelists containing local nomenclatures</documentation>
							<appinfo>
								<gmlexr:targetCodeList>LocalisedCropValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="catchCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="2">
						<annotation>
							<documentation>--Name--
catchCrop

-- Definition --
Fast-growing crop that is grown between successive plantings of a main crop.

-- Description --
Crop used for N fixing, as green manure, etc.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>CropValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="localisedCatchCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="2">
						<annotation>
							<documentation>--Name--
Localised catchCrop

--Definition--
Catch crop not present in EU crop codelists and present in codelists containing local nomenclatures</documentation>
							<appinfo>
								<gmlexr:targetCodeList>LocalisedCropValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="organicStatus" type="gml:ReferenceType">
						<annotation>
							<documentation>--Name--
organicStatus

--Definition--
Parcel status with respect to the commitments for fulfilling conditions of R (EU) 2018/848 on organic production.

--Description--
Organic production is an overall system of farm management and food production that combines best environmental and climate action practices, a high level of biodiversity and the preservation of natural resources. Organic farming promotes sustainable food production and preserving natural environment.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>OrganicStatusValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="isANC" type="boolean">
						<annotation>
							<documentation>--Name--
isANC

--Definition--
Boolean attribute whose value is 1 (true) if the agricultural parcel is eligible also for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to natural or other area-specific constraints (art. 71).</documentation>
						</annotation>
					</element>
					<element name="isN2000" type="boolean">
						<annotation>
							<documentation>--Name--
isN2000

--Definition--
Boolean attribute whose value is 1 (true) if the agricultural parcel is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to Natura2000 areas (art. 72(3)(a)).</documentation>
						</annotation>
					</element>
					<element name="isRBM" type="boolean">
						<annotation>
							<documentation>--Name--
isRBM

--Definition--
Boolean attribute whose value is 1 (true) if the agricultural parcel is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to agricultural areas included in river basin management plans (art. 72(3)(c)).</documentation>
						</annotation>
					</element>
					<element name="isASD" type="boolean">
						<annotation>
							<documentation>--Name--
isASD

--Definition--
Boolean attribute whose value is 1 (true) if the agricultural parcel is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to areas characterised by area-specific disadvantages resulting from certain mandatory requirements set in art. 72, different from those set in art. 72(3)(a) and art. 72(3)(c).</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AgriculturalParcelPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:AgriculturalParcel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ReferenceParcel" type="geoiacs:ReferenceParcelType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>--Name--
Reference parcel

-- Definition --
From Article 2(2) of Regulation (EU) 2022/1172, ‘reference parcel’ means a geographically delimited area retaining a unique identification as registered in the identification system for agricultural parcels referred to in Article 68 of Regulation (EU) 2021/2116. A reference parcel shall contain a unit of land representing agricultural area, as referred to in Article 4(3) of Regulation (EU) 2021/2115. Where appropriate, a reference parcel shall also contain non-agricultural areas considered eligible by Member States for receiving the support for area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116. 

-- Description --
Basic spatial unit for the administration and geographical localization of agricultural parcels. May contain one or more declared agricultural parcels in IACS and may be cultivated by one or more farmers (or producers association). The reference parcels shall serve as basis to support beneficiaries in submitting geo-spatial applications for area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116 [Art. 2(3) of Regulation (EU) 2022/1172]. Member States shall delimit the reference parcels in such a way as to ensure that each parcel is stable in time, measurable, enables the unique and unambiguous localisation of each agricultural parcel and unit of land of non- agricultural areas considered eligible by the Member States for receiving the support for the area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116 declared annually [Art. 2(4) of Regulation (EU) 2022/1172].

NOTE.  Definition in the past. Reference parcel - a continuous area of agricultural land (production block) grouping together a number of neighboring agricultural parcels (production units) cultivated by one or more farmer(s) and delineated by most stable boundaries. Subtypes (used in the past): CadParcel, AgrParcel, FarBlock, PhyBlock, TopoBlock and MixedParcelType. It current model it is not implemented, since these concepts are not core elements of current IACS model.</documentation>
		</annotation>
	</element>
	<complexType name="ReferenceParcelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relatedOEA" type="geoiacs:OtherEligibleAreaPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedAP" type="geoiacs:AgriculturalParcelPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedAA" type="geoiacs:AgriculturalAreaPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedELE" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:targetElement>geoiacs:EcoLandscapeElement</gml:targetElement>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="RPid" type="string">
						<annotation>
							<documentation>
--Name--
Reference parcel ID

-- Definition --
Unique ID of reference parcel referred to in Art. 68 (2)(a) of R (EU) 2021/2116.

-- Description --
European unique alphanumerical thematic identification code of reference parcel. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>
--Name--
Geometry

-- Definition --
Spatial representation of the reference parcel as referred to in Art. 2(2) of R (EU) 2022/1172
 </documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReferenceParcelPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:ReferenceParcel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Site" type="geoiacs:SiteType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>--Name--
Site

-- Definition --
Place within a holding where agricultural activities related to animals are exercised.

-- Description --
Simplified version of the Site Feature Type present in the INSPIRE data specifications for Agricultural Facilities.

NOTE: the geometry can be a point or a surface.</documentation>
		</annotation>
	</element>
	<complexType name="SiteType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="SiteId" type="string">
						<annotation>
							<documentation>
--Name--
Site ID

-- Definition --
Unique ID of site

-- Description --
European unique alphanumerical identification code of site. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>
--Name--
Geometry

-- Definition --
Spatial representation of site. It can be a point (site location) or a surface (site building footprint)

-</documentation>
						</annotation>
					</element>
					<element name="holdingId" type="string">
						<annotation>
							<documentation>
--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</documentation>
						</annotation>
					</element>
					<element name="activity" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>
--Name--
activity

-- Definition --
Type of economic activity for the site, according to NACE classification.

-- Description --
Type of economic activity for the site, according to NACE classification (The newest version is NACE revision 2 update 1 (NACE Rev. 2.1), which is to be used for European statistics from 2025 onwards. This was adopted by the European Commission in October 2022.)

NOTE: The activities should be selected from the ones available in the Group 01.4 - Animal production</documentation>
							<appinfo>
								<gmlexr:targetCodeList>NACEActivityValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="includesAnimal" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>--Name--
includes animal

-- Definition --
Indicates the presence of different species of animals in the site</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence>
										<element ref="geoiacs:FarmAnimalSpecies"/>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="animalWelfare" type="boolean">
						<annotation>
							<documentation>--Name--
animal welfare

-- Definition --
Indicates the presence or not of subsidies related to animal welfare according to Art. 31 of  R (EU) 2021/2115</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SitePropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:Site"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AgriculturalArea" type="geoiacs:AgriculturalAreaType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>--Name--
Agricultural area

-- Definition --
Agricultural areas as defined in Art. 4(3) of R (EU) 2021/2115.</documentation>
		</annotation>
	</element>
	<complexType name="AgriculturalAreaType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relatedRP" type="geoiacs:ReferenceParcelPropertyType">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedAA</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="AAid" type="string">
						<annotation>
							<documentation>
--Name--
Agricultural area ID

-- Definition --
Unique ID of agricultural area.

-- Description --
European unique alphanumerical identification code of agricultural area. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>
--Name--
Geomety

-- Definition --
Spatial representation of agricultural area.</documentation>
						</annotation>
					</element>
					<element name="holdingId" type="string">
						<annotation>
							<documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</documentation>
						</annotation>
					</element>
					<element name="declaredArea" type="gml:AreaType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </documentation>
						</annotation>
					</element>
					<element name="AAType" type="gml:ReferenceType">
						<annotation>
							<documentation>--Name--
Agricultural area type

-- Definition --
Types of agricultural area (arable land, permanent crops and permanent grassland), as defined in art4(3) of R (EU) 2021/2115.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>AATypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="isAgroforestry" type="boolean">
						<annotation>
							<documentation>--Name--
isAgroforestry

-- Definition --
Boolean attribute whose value is 1 (true) if the AA forms agroforestry systems as referred to in Art. 4(3) of R (EU) 2021/2115 and as defined in Recital 14 of Regulation "... agroforestry systems, where trees are grown in agricultural parcels on which agricultural activities are carried out to improve the sustainable use of the land."</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AgriculturalAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:AgriculturalArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OtherEligibleArea" type="geoiacs:OtherEligibleAreaType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>
--Name--
Other eligible area

-- Definition --
From Article 4(4)(c) of R (EU) 2021/2115, any area of the holding which gives right to payments under Title III, Chapter II, Section 2, Subsection 2 of R (EU) 2021/2115 and which is not an Agricultural Area (as defined by Article 4(4)(a) of R (EU) 2021/2115) nor an EcoLandscapeElement (as defined by Article 4(4)(b) of R (EU) 2021/2115.

NOTE: A series of boolean attributes  (isANC, isN2000, isRBM, is ASD) indicate if a OEA is eligible also for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to natural or other area-specific constraints (art. 71) or related to area-specific disadvantages (art. 72).</documentation>
		</annotation>
	</element>
	<complexType name="OtherEligibleAreaType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relatedRP" type="geoiacs:ReferenceParcelPropertyType">
						<annotation>
							<appinfo>
								<gml:reversePropertyName>geoiacs:relatedOEA</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="OEAid" type="string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>
--Name--
Other eligible area ID

-- Definition --
Unique ID of other eligible area.

-- Description --
European unique alphanumerical identification code of other eligible area. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>
--Name--
Geometry

-- Definition --
Spatial representation of other eligible area.</documentation>
						</annotation>
					</element>
					<element name="holdingId" type="string">
						<annotation>
							<documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</documentation>
						</annotation>
					</element>
					<element name="declaredArea" type="gml:AreaType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </documentation>
						</annotation>
					</element>
					<element name="OEAType" type="gml:ReferenceType">
						<annotation>
							<documentation>--Name--
Other eligible area type

-- Definition --
Types of other eligible area, according to art. 4(4)(c) of R (EU) 2021/2115.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>OEATypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="isANC" type="boolean">
						<annotation>
							<documentation>--Name--
isANC

-- Definition --
Boolean attribute whose value is 1 (true) if the OEA is eligible also for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to natural or other area-specific constraints (art. 71).</documentation>
						</annotation>
					</element>
					<element name="isN2000" type="boolean">
						<annotation>
							<documentation>--Name--
isN2000

-- Definition --
Boolean attribute whose value is 1 (true) if the OEA is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to Natura2000 areas (art. 72(3)(a)).</documentation>
						</annotation>
					</element>
					<element name="isRBM" type="boolean">
						<annotation>
							<documentation>--Name--
isRBM

-- Definition --
Boolean attribute whose value is 1 (true) if the OEA is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to agricultural areas included in river basin management plans (art. 72(3)(c)).</documentation>
						</annotation>
					</element>
					<element name="isASD" type="boolean">
						<annotation>
							<documentation>--Name--
isASD

-- Definition --
Boolean attribute whose value is 1 (true) if the OEA is eligible for area-based payments under Title III, Chapter IV of R (EU) 2021/2115 to compensate beneficiaries for additional costs and income foregone related to areas characterised by area-specific disadvantages resulting from certain mandatory requirements set in art. 72, different from those set in art. 72(3)(a) and art. 72(3)(c).</documentation>
						</annotation>
					</element>
					<element name="isFormerAANowSetAside" type="boolean">
						<annotation>
							<documentation>--Name--
isFormerAANowSetAside

-- Definition --
Boolean attribute whose value is 1 (true) if the OEA is eligible for payments under art. 4(4)(c)(iv) of R (EU) 2021/2115</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OtherEligibleAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:OtherEligibleArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FarmAnimalSpecies" type="geoiacs:FarmAnimalSpeciesType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Farm Animal Species

-- Definition --
Identifies an animal or group of animals of the same species kept on the specific site.</documentation>
		</annotation>
	</element>
	<complexType name="FarmAnimalSpeciesType">
		<sequence>
			<element name="livestock" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name --
livestock 

-- Definition --
Define the livestock species in the site, to be selected from the LivestockSpeciesValue codelist.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>LivestockSpeciesValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="aquaculture" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name --
aquaculture 

-- Definition --
Define the presence of aquaculture species in the site.

-- Description --
Aquaculture species  are listed in aquacultureSpecies attribute.
The allowed values for this code list comprise only the values specified in the February 2012 version of the ASFIS (Aquatic Sciences and Fisheries Information System) List of Species for Fishery Statistics Purposes maintained by FAO.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>AquacultureSpeciesValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="numberOfAnimals" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name --
number of animals

-- Definition --
Indicates the range of number of animals in the site for each species declared present.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>AnimalRangeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FarmAnimalSpeciesPropertyType">
		<sequence>
			<element ref="geoiacs:FarmAnimalSpecies"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EcologicalFocusArea" type="geoiacs:EcologicalFocusAreaType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>
--Name--
Ecological Focus Area

-- Definition --
Ecological focus areas as referred to in Article 46 of R (EU) No1307/2013 and its Delegated Regulation (EU) No 639/2014.

-- Description --
Areas contributing to practices beneficial for the climate and the environment as referred to in Art. 43(2)(c) of (EU) R No 1307/2013.

NOTE: EFA is not applicable for datasets issued after 2023</documentation>
		</annotation>
	</element>
	<complexType name="EcologicalFocusAreaType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="EFAid" type="string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>
--Name--
Ecological focus area identifier

-- Definition --
Unique ID of ecological focus area.

-- Description --
European unique alphanumerical identification code of ecological focus area. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>
--Name--
Geometry

-- Definition --
Spatial representation of ecological focus area.

-- Description --
Representation of the geographical dimension/position of the ecological focus area. EFA may be represented as , point,  curve, or surface depending on the options allowed by Art 46(3) of (EU) R No 1307/2013 and the choice of the MS/region.

NOTE 1: The established area referred in DSCG/2014/31 is derived from surface representation of the geometric extent.

NOTE 2: The converted area referred in DSCG/2014/31 is derived from a geometric representation with reduced dimensions (curves or points)

NOTE 3: In case of GM_Point geometry - Clementini point should be used.

NOTE 4: When GM_curve representation is applied, it should be within the polygon that would represent the feature if full geometric extent was used. </documentation>
						</annotation>
					</element>
					<element name="convertedArea" type="gml:AreaType">
						<annotation>
							<documentation>
--Name--
Ecological focus area

-- Definition --
Official area of EFA that can be accounted for fulfilling the obligation detailed in Art. 46(1) of (EU) R No 1307/2013.

-- Description --
This is the area value after applying the eventual conversion and weighting factors (DSCG/2014/31).

NOTE 1: According to DSCG/2014/31 
- Established area: Area resulting from direct field measurement or from delineation using ortho imagery
- Converted area: Virtual area of EFAs obtained when using the conversion factors of Annex II of Regulation (EU) No 639/2014.

NOTE 2: EFA area shall be given in ha.</documentation>
						</annotation>
					</element>
					<element name="ecologicalFocusAreaType" type="gml:ReferenceType">
						<annotation>
							<documentation>
--Name--
Ecological focus area type

-- Definition --
Ecological focus area type as listed in Art. 46(2) of (EU) R 1307/2013.

-- Description --
The value of this attribute shall be taken from the EcologicalFocusAreaTypeValue code list. </documentation>
							<appinfo>
								<gmlexr:targetCodeList>EcologicalFocusAreaTypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EcologicalFocusAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:EcologicalFocusArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EcoLandscapeElement" type="geoiacs:EcoLandscapeElementType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>
--Name--
Eco Landscape Element

-- Definition--
From Article 4(4)(b) of R (EU) 2021/2115, any area of the holding which is: (i) covered by landscape features subject to the retention obligation under GAEC standard 8 listed in Annex III and (ii) for the duration of the relevant commitment by the farmer, established or maintained as a result of an eco-scheme referred to in Article 31.

-- Description --
It shall be a landscape feature or an area interested by an area-based eco-scheme</documentation>
		</annotation>
	</element>
	<complexType name="EcoLandscapeElementType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relatedRP" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:targetElement>geoiacs:ReferenceParcel</gml:targetElement>
								<gml:reversePropertyName>geoiacs:relatedELE</gml:reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="ELEid" type="string">
						<annotation>
							<documentation>
--Name--
Eco Landscape element identifier

-- Definition --
Unique ID of ecolandscape element

-- Description --
European unique alphanumerical identification code of ecolandscape element. It should follow the rules of INSPIRE when delivered for EU use.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>
--Name--
Geometry

-- Definition --
Spatial representation of ecolandscape element</documentation>
						</annotation>
					</element>
					<element name="holdingId" type="string">
						<annotation>
							<documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</documentation>
						</annotation>
					</element>
					<element name="declaredArea" type="gml:AreaType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </documentation>
						</annotation>
					</element>
					<element name="ELEType" type="gml:ReferenceType">
						<annotation>
							<documentation>
--Name--
Eco Landscape Element type

-- Definition --
Type of ecolandscape element. It can be landscape feature or area-based ecoscheme.

-- Description --
The value of this attribute shall be taken from the EcoLandscapeElementTypeValue code list.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>ELETypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="ELEDesignation" type="gml:ReferenceType">
						<annotation>
							<documentation>
--Name--
Eco Landscape Element designation

-- Definition --
Designation of the ecolandscape element within the ecolandscape element type.

-- Description --
According to the value of EcoLandscapeElementType, the value of this attribute shall be taken from the LandscapeFeatureTypeValue codelist (if EcoLandscapeElement type if landscapeFeature) or from the AreaBasedEcoSchemeValue codelist (if EcoLandScapeElement type is areBasedEcoScheme).</documentation>
							<appinfo>
								<gmlexr:targetCodeList>ELEDesignationValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						<annotation>
							<documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</documentation>
						</annotation>
					</element>
					<element name="validFrom" type="date">
						<annotation>
							<documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</documentation>
						</annotation>
					</element>
					<element name="validTo" type="date" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EcoLandscapeElementPropertyType">
		<sequence minOccurs="0">
			<element ref="geoiacs:EcoLandscapeElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
