application-schema/geoiacs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 14.0.1422 ( Build: 1422 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://locationintelligence.epsilon-italia.it/geoiacs" xmlns:geoiacs="https://locationintelligence.epsilon-italia.it/geoiacs" version="1.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:af="http://inspire.ec.europa.eu/schemas/af/4.0">
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="AgriculturalParcel" type="geoiacs:AgriculturalParcelType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>--Name--
Agricultural parcel

-- Definition --
Agricultural parcel means a unit, defined by Member States, of agricultural area as determined in accordance with Article 4(3) of R (EU) 2021/2115.

-- Description --
Agricultural parcel declared by farmer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AgriculturalParcelType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="relatedRP" type="geoiacs:ReferenceParcelPropertyType">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>geoiacs:relatedAP</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="APid" type="xs:string">
						<xs:annotation>
							<xs:documentation>--Name--
Agricultural parcel ID

-- Definition --
Unique ID of agricultural parcel.

-- Description --
European unique alphanumerical identification code of agricultural parcel. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="holdingId" type="xs:string">
						<xs:annotation>
							<xs:documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="declaredArea" type="gml:AreaType">
						<xs:annotation>
							<xs:documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organicFarming" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>--Name--
organicFarming

--Definition--
Areas under commitments for fulfilling conditions of R (EU) 2018/848 on organic production.

--Description--
Organic production is an overall system of farm management and food production that combines best environmental and climate action practices, a high level of biodiversity and the preservation of natural resources. Organic farming promotes sustainable food production and preserving natural environment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mainCrop" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>--Name--
mainCrop

--Definition--
Main crop grown within the campaign year (growing season).

--Description--
Crop occupying the parcel in most of the time of the growing season. It also includes fallow land.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>CropValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="localisedMainCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Localised mainCrop

--Definition--
Main crop not present in EU crop codelists and present in codelists containing local nomenclatures</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>LocalisedCropValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="agriculturalAreaType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>--Name--
Agricultural Area Type

--Definition--
Agricultural area type

--Description--
Any area taken up by arable land, permanent grassland and permanent pasture, permanent crops or agroforestry, as defined in Art. 4(3) of R2021/2115).</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AgriculturalAreaTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="catchCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>--Name--
catchCrop

-- Definition --
Fast-growing crop that is grown between successive plantings of a main crop.

-- Description --
Crop used for N fixing, as green manure, etc.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>CropValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="localisedCatchCrop" type="gml:ReferenceType" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>--Name--
Localised catchCrop

--Definition--
Catch crop not present in EU crop codelists and present in codelists containing local nomenclatures</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>LocalisedCropValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AgriculturalParcelPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:AgriculturalParcel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ReferenceParcel" type="geoiacs:ReferenceParcelType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>--Name--
Reference parcel

-- Definition --
From Article 2(2) of Regulation (EU) 2022/1172, ‘reference parcel’ means a geographically delimited area retaining a unique identification as registered in the identification system for agricultural parcels referred to in Article 68 of Regulation (EU) 2021/2116. A reference parcel shall contain a unit of land representing agricultural area, as referred to in Article 4(3) of Regulation (EU) 2021/2115. Where appropriate, a reference parcel shall also contain non-agricultural areas considered eligible by Member States for receiving the support for area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116. 

-- Description --
Basic spatial unit for the administration and geographical localization of agricultural parcels. May contain one or more declared agricultural parcels in IACS and may be cultivated by one or more farmers (or producers association). The reference parcels shall serve as basis to support beneficiaries in submitting geo-spatial applications for area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116 [Art. 2(3) of Regulation (EU) 2022/1172]. Member States shall delimit the reference parcels in such a way as to ensure that each parcel is stable in time, measurable, enables the unique and unambiguous localisation of each agricultural parcel and unit of land of non- agricultural areas considered eligible by the Member States for receiving the support for the area-based interventions referred to in Article 65(2) and (3) of Regulation (EU) 2021/2116 declared annually [Art. 2(4) of Regulation (EU) 2022/1172].

NOTE.  Definition in the past. Reference parcel - a continuous area of agricultural land (production block) grouping together a number of neighboring agricultural parcels (production units) cultivated by one or more farmer(s) and delineated by most stable boundaries. Subtypes (used in the past): CadParcel, AgrParcel, FarBlock, PhyBlock, TopoBlock and MixedParcelType. It current model it is not implemented, since these concepts are not core elements of current IACS model.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReferenceParcelType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="relatedNAEA" type="geoiacs:NonAgriculturalEligibleAreaPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="relatedAP" type="geoiacs:AgriculturalParcelPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="relatedELE" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>geoiacs:EcoLandscapeElement</gml:targetElement>
								<gml:reversePropertyName>geoiacs:relatedRP</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="RPid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
--Name--
Reference parcel ID

-- Definition --
Unique ID of reference parcel referred to in Art. 68 (2)(a) of R (EU) 2021/2116.

-- Description --
European unique alphanumerical thematic identification code of reference parcel. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceParcelPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:ReferenceParcel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Site" type="geoiacs:SiteType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>--Name--
Site

-- Definition --
Place within a holding where agricultural activities related to animals are exercised.

-- Description --
Simplified version of the Site Feature Type present in the INSPIRE data specifications for Agricultural Facilities.

NOTE: the geometry can be a point or a surface.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SiteType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SiteId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
--Name--
Site ID

-- Definition --
Unique ID of site

-- Description --
European unique alphanumerical identification code of site. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="holdingId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="activity" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
--Name--
activity

-- Definition --
Type of economic activity for the site, according to NACE classification.

-- Description --
Type of economic activity for the site, according to NACE classification (The newest version is NACE revision 2 update 1 (NACE Rev. 2.1), which is to be used for European statistics from 2025 onwards. This was adopted by the European Commission in October 2022.)

NOTE: The activities should be selected from the ones available in the Group 01.4 - Animal production</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>NACEActivityValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="includesAnimal" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>--Name--
includes animal

-- Definition --
Indicates the presence or not of animals in the site</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="geoiacs:FarmAnimalSpecies"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="animalWelfare" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>--Name--
animal welfare

-- Definition --
Indicates the presence or not of subsidies related to animal welfare according to Art. 31 of  R (EU) 2021/2115</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>-Name-
Begin life span version

--Definition--
Set of properties of an object/feature that describes the temporal characteristics of a version or the changes between versions. [Adapted from INSPIRE Generic Conceptual Model]

-- Description --
Date and time at which this version of the feature was inserted or changed in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SitePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:Site"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NonAgriculturalEligibleArea" type="geoiacs:NonAgriculturalEligibleAreaType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>
--Name--
Non agricultural eligible area

-- Definition --
Land containing non-agricultural areas considered eligible by the Member States for receiving payment under Title III, Chapter 4 of R (EU) 2021/2115.

-- Description --
Non-agricultural areas, such as wetlands, Natura 2000, river basin management etc., receiving rural development support according to the Strategic plans of the MS.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NonAgriculturalEligibleAreaType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="relatedRP" type="geoiacs:ReferenceParcelPropertyType">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>geoiacs:relatedNAEA</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NAEAid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
--Name--
Non-agricultural eligible area ID

-- Definition --
Unique ID of non-agricultural eligible area.

-- Description --
European unique alphanumerical identification code of non-agricultural eligible area. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="holdingId" type="xs:string">
						<xs:annotation>
							<xs:documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="declaredArea" type="gml:AreaType">
						<xs:annotation>
							<xs:documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nonAgriculturalEligibleAreaType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>
--Name--
Non-agricultural eligible area type

-- Definition --
Types of land containing non-agricultural areas considered eligible by the Member States for receiving payment under Title III, Chapter 4 of R (EU) 2021/2115.

-- Description --
Types of non-agricultural eligible area defined by the MS in their strategic plans.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>NonAgriculturaEligiblelAreaTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>--Name--
Non-agricultural eligible area

-- Definition --
Land containing non-agricultural areas considered eligible by the Member States for receiving payment under Titel III, Chapter 4 of R (EU) 2021/2115.

-- Description --
Non-agricultural areas, such as wetlands, Natura 2000, river basin management etc., receiving rural development support according to the Strategic plans of the MS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NonAgriculturalEligibleAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:NonAgriculturalEligibleArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FarmAnimalSpecies" type="geoiacs:FarmAnimalSpeciesType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>-- Name --
farm animal

-- Definition --
Identifies an animal or group of animals of the same species kept on the specific site.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FarmAnimalSpeciesType">
		<xs:sequence>
			<xs:element name="livestock" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Name --
livestock 

-- Definition --
Define the presence of livestock species in the site.

-- Description --
The terrestic species are coded specified  according to  regulation (EC) No 1165/2008.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>LivestockSpeciesValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aquaculture" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Name --
aquaculture 

-- Definition --
Define the presence of aquaculture species in the site.

-- Description --
Aquaculture species  are listed in aquacultureSpecies attribute.
The allowed values for this code list comprise only the values specified in the February 2012 version of the ASFIS (Aquatic Sciences and Fisheries Information System) List of Species for Fishery Statistics Purposes maintained by FAO.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>AquacultureSpeciesValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfAnimals" type="xs:integer">
				<xs:annotation>
					<xs:documentation>-- Name --
number of animals

-- Definition --
Indicates the number of animals in the site for each species declared present.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FarmAnimalSpeciesPropertyType">
		<xs:sequence>
			<xs:element ref="geoiacs:FarmAnimalSpecies"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EcologicalFocusArea" type="geoiacs:EcologicalFocusAreaType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>
--Name--
Ecological Focus Area

-- Definition --
Ecological focus areas as referred to in Article 46 of R (EU) No1307/2013 and its Delegated Regulation (EU) No 639/2014.

-- Description --
Areas contributing to practices beneficial for the climate and the environment as referred to in Art. 43(2)(c) of (EU) R No 1307/2013.

NOTE: EFA is not applicable for datasets issued after 2023</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EcologicalFocusAreaType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="EFAid" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
--Name--
Ecological focus area identifier

-- Definition --
Unique ID of ecological focus area.

-- Description --
European unique alphanumerical identification code of ecological focus area. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="convertedArea" type="gml:AreaType">
						<xs:annotation>
							<xs:documentation>
--Name--
Ecological focus area

-- Definition --
Official area of EFA that can be accounted for fulfilling the obligation detailed in Art. 46(1) of (EU) R No 1307/2013.

-- Description --
This is the area value after applying the eventual conversion and weighting factors (DSCG/2014/31).

NOTE 1: According to DSCG/2014/31 
- Established area: Area resulting from direct field measurement or from delineation using ortho imagery
- Converted area: Virtual area of EFAs obtained when using the conversion factors of Annex II of Regulation (EU) No 639/2014.

NOTE 2: EFA area shall be given in ha.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>--Name--
Reference parcel

-- Definition --
Means a geographically delimited area retaining a unique identification as registered in the LPIS. a.k.a. identification system for agricultural parcels referred to in Article 70 of Regulation (EU) No 1306/2013 or Art.2 of R (EU) 2022/1172. 

-- Description --
Basic spatial unit for the administration and geographical localization of agricultural parcels. May contain one or more declared agricultural parcels in IACS and may be cultivated by one or more farmers (or producers association). Does not necessarily cover a territory nationwide, but overlaps are not allowed. 

NOTE.  Definition in the past. Reference parcel - a continuous area of agricultural land (production block) grouping together a number of neighboring agricultural parcels (production units) cultivated by one or more farmer(s) and delineated by most stable boundaries. Subtypes (used in the past): CadParcel, AgrParcel, FarBlock, PhyBlock, TopoBlock and MixedParcelType. It current model it is not implemented, since these concepts are not core elements of current IACS model.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EcologicalFocusAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:EcologicalFocusArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EcoLandscapeElement" type="geoiacs:EcoLandscapeElementType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>
--Name--
Eco Landscape Element

-- Definition--
From Article 4(4)(b) of R (EU) 2021/2115, any area of the holding which is: (i) covered by landscape features subject to the retention obligation under GAEC standard 8 listed in Annex III and (ii) for the duration of the relevant commitment by the farmer, established or maintained as a result of an eco-scheme referred to in Article 31.

-- Description --
It shall be a landscape feature or an area interested by an area-based eco-scheme</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EcoLandscapeElementType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="relatedRP" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>geoiacs:ReferenceParcel</gml:targetElement>
								<gml:reversePropertyName>geoiacs:relatedELE</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ELEid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
--Name--
Eco Landscape element identifier

-- Definition --
Unique ID of ecolandscape element

-- Description --
European unique alphanumerical identification code of ecolandscape element. It should follow the rules of INSPIRE when delivered for EU use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="holdingId" type="xs:string">
						<xs:annotation>
							<xs:documentation>--Name--
Holding ID

-- Definition --
Unique ID of the holding, The holding, as defined in Article 3(2) of R (EU) 2021/2115, means all the units used for agricultural activities and managed by a farmer situated within the territory of the same Member State.

-- Description --
Europe-wide unique alphanumerical identification code of holding. It should follow the rules of INSPIRE when delivered for EU use.

NOTE
This attribute, when covered by confidentiality clauses set by the data providers, will be shared only to authorised and authenticated users (e.g. EC services) under specific conditions laid down in written terms of use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="declaredArea" type="gml:AreaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Area declared

-- Definition --
Value for the quantification of area as referred to in Art. 8 (2)(b) of R (EU) 1173/2022. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ecoLandscapeElementType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>
--Name--
Eco Landscape Element type

-- Definition --
Type of ecolandscape element. It can be landscape feature or area-based ecoscheme.

-- Description --
The value of this attribute shall be taken from the EcoLandscapeElementTypeValue code list.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>EcoLandscapeElementTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ecoLandscapeElementDesignation" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>
--Name--
Eco Landscape Element designation

-- Definition --
Designation of the ecolandscape element within the ecolandscape element type.

-- Description --
According to the value of EcoLandscapeElementType, the value of this attribute shall be taken from the LandscapeFeatureTypeValue codelist (if EcoLandscapeElement type if landscapeFeature) or from the AreaBasedEcoSchemeValue codelist (if EcoLandScapeElement type is areBasedEcoScheme).</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>EcoLandscapeElementDesignationValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginLifespanVersion" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>--Name--
Reference parcel

-- Definition --
Means a geographically delimited area retaining a unique identification as registered in the LPIS. a.k.a. identification system for agricultural parcels referred to in Article 70 of Regulation (EU) No 1306/2013 or Art.2 of R (EU) 2022/1172. 

-- Description --
Basic spatial unit for the administration and geographical localization of agricultural parcels. May contain one or more declared agricultural parcels in IACS and may be cultivated by one or more farmers (or producers association). Does not necessarily cover a territory nationwide, but overlaps are not allowed. 

NOTE.  Definition in the past. Reference parcel - a continuous area of agricultural land (production block) grouping together a number of neighboring agricultural parcels (production units) cultivated by one or more farmer(s) and delineated by most stable boundaries. Subtypes (used in the past): CadParcel, AgrParcel, FarBlock, PhyBlock, TopoBlock and MixedParcelType. It current model it is not implemented, since these concepts are not core elements of current IACS model.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
End life span version

--Definition--
Set of properties of an object/feature that describe the temporal characteristics of a version or the changes between versions [Adapted from INSPIRE Generic Conceptual Model]

--Description--
Date and time at which this version of the feature was superseded or retired in the dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>--Name--
Valid from

--Definition--
Official date when the object / feature has been (will be) in situ or legally established.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Valid to 

--Definition--
Official date at which the feature in situ (or legally) ceased (will cease) to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EcoLandscapeElementPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="geoiacs:EcoLandscapeElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
